.profile-avatar{
    width: min(500px, 85%);
    aspect-ratio: 1;
    border-radius: 100%;
    background-image: url("../assets/profile-avatart.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-info{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greeting{
    font-size: xx-large;
}

.name{
    color: rgb(241, 72, 72);
    font-weight: bolder;
    
}

.about-me{
    max-width: 43rem;
    text-align: justify;
}

.experience-card{
    height: 12rem;
    width: 12rem;

    margin-right: 3rem;
    display: inline-block;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    position: relative;
}

.experience-container{
    width: min(43rem, 95%);
    overflow-x: auto;
    white-space: nowrap;
    margin-inline:2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

::-webkit-scrollbar{
    height: 6px;
    width: 6px;

}
::-webkit-scrollbar-thumb:horizontal{
    background: rgb(242,72,72);
    border-radius: 10px;
}

.TED{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(50, 50, 100, 0.9)
      ),url("../assets/ted.jpeg");
}

.Bilkent{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(50, 50, 100, 0.9)
      ), url("../assets/bilkent.jpeg");
}

.Karel{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(50, 50, 100, 0.9)
      ), url("../assets/karel.webp");
}
.Leiden{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(50, 50, 100, 0.9)
      ), url("../assets/leiden.jpeg");
}

.QITASC{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(50, 50, 100, 0.9)
      ), url("../assets/qitasc.jpeg");  
}

.Sadeceon{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(50, 50, 100, 0.9)
      ), url("../assets/sadeceon.png");
}

.experience-info
{

    color: whitesmoke;
    position: absolute;
    bottom: 0.2rem;
    left: 0.3rem;
    font-size: medium;
    margin: 0;
}

.animate{
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;

    white-space: nowrap;
}

@keyframes typewriter{
    from{
        width:0;
    }
    to{
        width: 10em
    }
}

@keyframes blinkTextCursor {
    from{
        border-right-color: whitesmoke;
    }
    to{
        border-right-color: transparent;
    }
}